// @media screen and (max-width:768px) {

// .container #header{
// background-color:#000
// }
// }
@media  (min-width: 200px) and (max-width: 600px)  {
  // .container {
  //   #header {
  //     background-color: #F4DF39;
  //     width: 100vw;
  //     height: 60px;
  //     line-height: 10vh;

  //     #logo {
  //       text-align: left;
  //       padding-left: 1rem;

  //       h1 {
  //         font-size: 1.2rem;
  //         margin: 0;
  //         line-height: 60px;
  //       }
  //     }

  //     aside, nav {
  //       display: none;
  //     }
  //   }

  //   .content {
  //     width: 100vw;

  //     .content-inner {
  //       height: auto;
  //       padding:0 1.5rem;

  //       .article{
  //         padding:0;
  //       }
  //       .markdown-body{
  //         width:100%;
  //       }
  //       .table-content {
  //         display: none;
  //       }
  //     }
  //   }
  // }
}

@media (min-width: 600px) and (max-width:1024px) {
  // .container {
  //   .content {
  //     flex: none;
  //     width: 80vw;
  //     height: 100vh;

  //     .content-inner {
  //       height: auto;

  //       .markdown-body {
  //         width: 100%;
  //       }

  //       .table-content {
  //         display: none;
  //       }
  //     }
  //   }
  // }
}