
h1{font-size: 2.5rem; line-height: 3.5rem;}

h2{font-size: 2rem; line-height: 2.7rem;}

h3{font-size: 1.7rem; line-height: 2.1rem;}

h4{font-size: 1.5rem;}

h5{font-size: 1.3rem;}

h6{font-size: .8rem;}
h1,h2,h3,h4,h5{
    font-weight: bold;
    margin: 1.5rem 0 1rem 0;
    a{
        text-decoration: none;
        color:#000;
        &:hover{
            color:#000;
        }
        &:active{
            color:#000;
        }
    }
}

img{
    width: 100%;
}
p{
    // font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1rem;
    margin-bottom: 1.3rem;
    color:#333;
    overflow: hidden;
    font-weight: 300;
}
strong{
    font-weight: bold;
}
em{
    font-weight: 500;
}

ul{
    padding-left: 1rem;
    margin: 1rem 0;
    margin-left: 1rem;
    list-style-type: square;
}

body{
    font-family: "-apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif";
    line-height: 1.5rem;
}

a{
    text-decoration: none;
    color:#333;
}

table{
    width: 100%;
    thead,tbody{
        width: 90%;
        td:first-child{
            width: 70%;
        }
        td:last-child{
            text-align: right;
        }
    }
}