{{define "main"}}
<div class="container">
    <section>
      <ul class="articles">
        {{ range sort .Paginator.Pages }}
        <li>
          <h4><a href="{{.URL}}">{{ .Title}}</a></h4>
          <p>
              {{ if .Params.category }}
                {{ .Params.category }}
              {{ end }} | 
            {{.Date.Format "January 2, 2006"}} </p>
        </li>
        {{ end }}
      </ul>
    </section>
  
    <aside>
      <ul id="all-taxonomies">
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        <li>
          <a href="{{ " / " | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
          <ul>
            {{ range $key, $value := $taxonomy }}
            <li>
              <a href="{{ " / " | relLangURL}}{{ $taxonomyname | urlize }}/{{$key}}">{{ $key }}({{len $value.Pages}})</a>
            </li>
            {{ end }}
          </ul>
        </li>
        {{ end }}
      </ul>
    </aside>
  </div>
  {{end}}