{{define "main"}}
<div class="main">
    <div class="content">
        {{.Content}}
    </div>
    <div class="comment">
        {{ template "_internal/disqus.html" . }}
    </div>
    <!-- <div class="content-inner">
        <div class="markdown-body">
            {{.Content}}
            {{if .Site.DisqusShortname}}
            {{ template "_internal/disqus.html" . }}
            {{end}}
        </div>
        <div class="table-content">{{.TableOfContents}}</div>
       
    </div> -->
</div>
{{end}}