<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{{.Site.Title}}</title>

<link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">

<!-- <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
<link rel="stylesheet"
      href="//apps.bdimg.com/libs/highlight.js/9.1.0/styles/monokai-sublime.min.css
      ">
<script> -->
<!--  
//    hljs.initHighlighting();

   hljs.initHighlightingOnLoad(); -->
<!-- </script> -->
