<meta name="viewport" content="width=width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>{{ .Title }} | {{.Site.Title}} | {{.Site.Params.Subtitle}}</title>

<!-- <link href="//fonts.googleapis.com/css?family=Cardo" type="text/css" rel="stylesheet"> -->
<!-- <link href="//markdowncss.github.io/air/css/air.css"  type="text/css" rel="stylesheet"/> -->
<!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.0/build/styles/ocean.min.css" type="text/css">  -->
<link href="/style.css" type="text/css" rel="stylesheet">
<link href="/css/syntax/monokai.css" type="text/css" rel="stylesheet">
<!-- <script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->

<!-- <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script> -->
<!-- <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script> -->
<!-- <link rel="stylesheet" href="{{ "css/style.css" | absURL }}"> -->
