{{define "main"}}
<div class="content">
  <div class="content-inner">
    <section>
      {{ $paginator := .Paginate (where .Data.Pages "Section" "post") 8 }}
      <!-- { $paginator := .Paginate (where .Data.Pages "Section" "Angular") } -->
      {{ range sort .Paginator.Pages }}
      <article class="article">
        <p class="article-date">
          {{.Date.Format "2006/01/02"}}
        </p>
        <h4 class="article-title"><a href="{{.URL}}">{{ .Title}}</a></h4>
        <p class="article-summary">{{.Summary}}</p>

        <!-- <p class="des">{{.Params.description}}</p> -->
        <!-- <p>{{ if .Params.tags }}
          {{ range $tagIndex,$tagName := .Params.tags}}
          {{$tagName}}
          {{end}}
          {{ end }}</p> -->

        {{.Data.Terms.ByCount}}
      </article>
      {{ end }}

      <!-- 分页 -->
      <ul class="article-page">
        {{ if $paginator.HasPrev}}
        <li class="article-page-left"><a href="{{ $paginator.Prev.URL }}">Prev</a></li>
        {{ else }}
        <li class="article-page-left disabled">Prev</li>
        {{ end }}
        {{ if $paginator.HasNext }}
        <a class="article-page-right" href="{{ $paginator.Next.URL }}">Next</a>
        {{ else }}
        <li class="article-page-right disabled">Next</li>
        {{ end }}
      </ul>
    </section>

    {{- partial "footer.html" . -}}
  </div>
</div>
{{end}}