{{ define "main"}}
<main class="list">
  {{ range where .Pages "Section" "post" }}
  <article class="item">
    <h2 class="title"><a href="{{.URL}}"> {{.Title}}</a></h2>
    <aside class="articlemeta">
      {{if .Params.categories}}
      <span>分类：<a href="{{"categories/" | relLangURL}}{{lower .Params.categories}}">{{.Params.categories}}</a></span>
      {{end}}
      {{if .Params.author}}
      <span>作者: {{.Params.author}} </span>
      {{else if .Params.source}}
      <span>来源: <a href="{{.Params.sourceLink}}" target="_block">{{.Params.source}}</a></span>
      {{end}}
      在
      <time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "2006-01-02"}}</time>
    </aside>
    <div>
      <p>{{.Summary}}</p>
    </div>
    {{ if .Params.tags }}
    <ol class="tags">
      {{ range $tagIndex,$tagName := .Params.tags}}
      <li><a href="{{"tags/" |relLangURL}}{{lower $tagName}}">#{{$tagName}}</a></li>
      {{end}}
    </ol>
    {{ end }}
  </article>
  {{ end }}
  <a class="home_more" href="{{"post/" | relLangURL}}">查看更多</a>
</main>
{{ end }}